<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Project.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRestaurant</display-name>
    <servlet-name>GetRestaurant</servlet-name>
    <servlet-class>com.Project.GetRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRestaurant</servlet-name>
    <url-pattern>/GetRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMenu</display-name>
    <servlet-name>ShowMenu</servlet-name>
    <servlet-class>com.Project.ShowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu</servlet-name>
    <url-pattern>/ShowMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.Project.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>com.Project.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menus</display-name>
    <servlet-name>Menus</servlet-name>
    <servlet-class>com.Project.Menus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menus</servlet-name>
    <url-pattern>/Menus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.Project.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.Project.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.Project.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.Project.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.Project.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.Project.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConformOrderServlet</display-name>
    <servlet-name>ConformOrderServlet</servlet-name>
    <servlet-class>com.Project.ConformOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConformOrderServlet</servlet-name>
    <url-pattern>/ConformOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrders</display-name>
    <servlet-name>ShowOrders</servlet-name>
    <servlet-class>com.Project.ShowOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrders</servlet-name>
    <url-pattern>/ShowOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>com.Project.OrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/OrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.Project.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.Project.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRoleServlet</display-name>
    <servlet-name>SelectRoleServlet</servlet-name>
    <servlet-class>com.Project.SelectRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRoleServlet</servlet-name>
    <url-pattern>/SelectRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSearchServlet</display-name>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>com.Project.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.Project.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>